p 
{
color: #000000;
background-color: lightcoral;

}
h1{

    color: crimson;
    font-style: italic;
    font-size: xx-large;
}
h3{
    color: darkblue;
    width: 200;
    height: 200;
    font-style: oblique;
}
h2{
color: darkgreen;
size: 0ex;
}
p{
font-style: italic;

}
div{
background-color: khaki;
}
form{
    background-color: palegoldenrod;
    
}